:root {
  --font-main: "Inter", serif;
  --font-accent: "PressStart2P", serif;
  --font-weight-header: 700;
  --font-weight-main: 400;
  --background-color: #ffffff;
  --accent-color: #000000;
  --border-color: #000000;
  --animation-color: red;
  --background-image: repeating-linear-gradient(
      #808080 0px 1px,
      transparent 1px 4px
    ),
    repeating-linear-gradient(90deg, #808080 0px 1px, transparent 1px 4px);
}
